apiVersion: apps/v1
kind: Deployment
metadata:
  name: signaling-server
spec:
  replicas: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
  template:
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - tandem-watch
              topologyKey: "kubernetes.io/hostname"
      containers:
      - name: signaling-server
        env:
        - name: NODE_ENV
          value: production
        - name: LOG_LEVEL
          value: warn
