apiVersion: apps/v1
kind: Deployment
metadata:
  name: signaling-server
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: signaling-server
        env:
        - name: NODE_ENV
          value: development
        - name: LOG_LEVEL
          value: debug
