apiVersion: apps/v1
kind: Deployment
metadata:
  name: signaling-server
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: signaling-server
        env:
        - name: NODE_ENV
          value: staging
        - name: LOG_LEVEL
          value: info
